body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.footer{
  background-color: rgb(235, 195, 64);
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  padding: auto;

}